* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.search-container {
  display:flex;
  justify-content: center;
  align-items: center;
}
.search-child {
  width: 0 auto;
  padding-top: 20px;
}
body {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 858px;
  margin: 0 auto;
}
input {
  width: 460px;
  height: 45px;
  border-radius: .4em;
  border-color: lightgrey;
  border-style: solid;
  font-size: 16px;
  font-weight: 500;
  color: lightgrey;
  padding: 5px 10px;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1 24%;
  padding-top: 35px;
  padding-left: 10px;
}

p {
  display: none;
}
